{% extends "base.html.twig" %}
{% block title %}
    Connexion
{% endblock %}
{% block body %}
    <h1>Inscritpion</h1>
    {{ form_start(form) }}

    {{ form_row(form.nom) }}
    {{ form_row(form.prenom) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}    
    
    <button type="submit" class="btn btn-success mt-4">Valider</button>
    {{ form_end(form) }}
{% endblock %}