<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
                <a class="navbar-brand" href="#">projet INNO</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor03">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">texte</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                texte
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Annonces</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="btn btn-success">Login</a>
                        </li>
                    </ul>
                </div>
    </div>
</nav>
